<html>
    <head>
        <style>
            body{
                padding:30px 0 0 30px;
            }
            .green{
                padding:15px;
                border:3px solid green;
                background: rgb(197, 245, 141);
            }
            .red{
                padding:15px;
                border: 3px solid red;
                background: rgb(250, 214, 213);
            }
        </style>
    </head>
    <body>
        <div id="react-fiber-root"></div>
    </body>

    <script src="./react/umd/react.development.js"> </script>    
    <script src="./react-dom/umd/react-dom.development.js"> </script>    
    <script src="./babel.js"></script>

    <script type="text/babel">
        //process.env.NODE_ENV = 'development';

        const ReactDom = window.ReactDom;
        const React = window.React;
        const { useEffect , useState , useRef , useMemo  } = React;

        //import ReactDom  from './react-dom/index.js';
        //import React,{ useEffect , useState , useRef , useMemo  } from './react/index.js'

        const root = document.getElementById("react-fiber-root");

        function Main(){
            const [show,setShow] = useState(true);
            const [ number , setNumber ] = useState(0)
            const DivDemo = useMemo(() => React.createElement("div", null, " hello , i am useMemo "),[])
            const curRef  = useRef(null)

            useEffect(()=>{
                console.log(curRef.current)
            },[]);

            const triggleShow = ()=>{
                console.log(`show = ${show}`);
                setShow(!show);
            }

            const One = ()=>{
                return <React.Fragment>
                    <p  key="1">11</p>
                    <p  key="2">11</p>
                    <p  key="3">11</p>
                </React.Fragment>
            }

            const Two = ()=>{
                return <React.Fragment>
                    <span  key="1">11</span>
                    <span  key="2">11</span>
                    <span  key="3">11</span>
                </React.Fragment>
            }

            /*
            <p>1</p>
            <p>2</p>
            <p>3</p>
            */

            let one = [{key:'1',name:1},{key:'2',name:2},{key:'3',name:3}];
            let oneComponent = one.map(item=>{
                return <p key={item.key}>{item.name}</p>
            });

            let two = [{key:'3',name:3},{key:'4',name:4},{key:'2',name:2},{key:'1',name:1}];
            let twoComponent = two.map(item=>{
                return <p key={item.key}>{item.name}</p>
            });

            /*
            123,
            -->
            3421,

            1 gua;

                lastPlaceIndex = 0;
            2   3 Index = 2;
                lastPlaceIndex = 2;

                4--> new;
                --> 2;
                lastPlaceIndex = 3;

                2 Index = 1;
                lastPlaceIndex = 3;
                342

                1Index = 0;
                lastPlaceIndex = 3;
                3421

                {
                    (new Array(3)).fill(1).map((item,index)=>{
                        return <p>{index}</p>
                    })
                }
            */

            
            return <div id="out">
                <div id="test_container">
                    {show?oneComponent:twoComponent}
                </div>
                <button onClick={triggleShow}>+ click me +</button>
            </div>
        }


        ReactDom.render(<Main/>,root);

    </script>
    
    
</html>
