<html>
    <head>
        <style>
            body{
                padding:30px 0 0 30px;
            }
            .green{
                padding:15px;
                border:3px solid green;
                background: rgb(197, 245, 141);
            }
            .red{
                padding:15px;
                border: 3px solid red;
                background: rgb(250, 214, 213);
            }
        </style>
    </head>
    <body>
        <div id="react-fiber-root"></div>
    </body>

    <script src="./react/umd/react.development.js"> </script>    
    <script src="./react-dom/umd/react-dom.development.js"> </script>    
    <script src="./babel.js"></script>

    <script type="text/babel">
        //process.env.NODE_ENV = 'development';

        const ReactDom = window.ReactDom;
        const React = window.React;
        const { useEffect , useState , useRef , useMemo  } = React;

        //import ReactDom  from './react-dom/index.js';
        //import React,{ useEffect , useState , useRef , useMemo  } from './react/index.js'

        const root = document.getElementById("react-fiber-root");

        function Main(){
            const [show,setShow] = useState(true);
            const [ number , setNumber ] = useState(0)
            const DivDemo = useMemo(() => React.createElement("div", null, " hello , i am useMemo "),[])
            const curRef  = useRef(null)

            useEffect(()=>{
                console.log(curRef.current)
            },[]);

            const triggleShow = ()=>{
                console.log(`show = ${show}`);
                setShow(!show);
            }

            const One = ()=>{
                return <React.Fragment>
                    <p  key="1">11</p>
                    <p  key="2">11</p>
                    <p  key="3">11</p>
                </React.Fragment>
            }

            const Two = ()=>{
                return <React.Fragment>
                    <span  key="1">11</span>
                    <span  key="2">11</span>
                    <span  key="3">11</span>
                </React.Fragment>
            }
            
            return <div id="out">
                {   show?
                    <React.Fragment><One/><Two/></React.Fragment>:
                    <React.Fragment><Two/><One/></React.Fragment>
                }
                <button onClick={triggleShow}>+ click me +</button>
            </div>
        }

        /*

        <h1 id="h1">I am h1</h1>
        <div id="h2_container">
            {
                Array(3).fill(1).map(item=>{
                    return <h2>
                        <button onClick={triggleShow}>+ click me +</button>
                    </h2>
                })
            }
        </div>


        <ul>
            {
                Array(7).fill(1).map(item=>{
                    return <li>{item}</li>
                })
            }
        </ul>
        */


        ReactDom.render(<Main/>,root);

    </script>
    
    
</html>

<!-- 
    
if ( (unitOfWork.mode & ProfileMode) !== NoMode) {
    startProfilerTimer(unitOfWork);
    next = beginWork$1(current, unitOfWork, subtreeRenderLanes);
    stopProfilerTimerIfRunningAndRecordDelta(unitOfWork, true);
  } else {
    next = beginWork$1(current, unitOfWork, subtreeRenderLanes);
  }

  resetCurrentFiber();
  unitOfWork.memoizedProps = unitOfWork.pendingProps;

  if (next === null) {
    // If this doesn't spawn new work, complete the current work.
    completeUnitOfWork(unitOfWork);
  } else {
    workInProgress = next;
  }





    if (oldProps !== newProps || hasContextChanged() || ( // Force a re-render if the implementation changed due to hot reload:
        workInProgress.type !== current.type )) {


    if ((completedWork.flags & Incomplete) === NoFlags) {



    var flags = completedWork.flags; 

    updateHostComponent$1 = function (current, workInProgress, type, newProps, rootContainerInstance) {


    if (typeof newProps.children !== typeof oldProps.children && (typeof newProps.children === 'string' || typeof newProps.children === 'number')) {
        var string = '' + newProps.children;
        var ownAncestorInfo = updatedAncestorInfo(hostContextDev.ancestorInfo, type);
        validateDOMNesting(null, string, ownAncestorInfo);
    }

   return diffProperties(domElement, type, oldProps, newProps);

   function diffProperties(domElement, tag, lastRawProps, nextRawProps, rootContainerElement) {


   markUpdate(workInProgress);
-->